#
# Copyright © 2017-2020 The Crust Firmware Authors.
# SPDX-License-Identifier: BSD-3-Clause OR GPL-2.0-only
#

menu "Power management controllers"

config PMIC_AXP803
	bool
	default MFD_AXP803

config PMIC_AXP805
	bool
	default MFD_AXP805

endmenu
