---
env:
  matrix:
    - BOARD=orangepi_win
    - BOARD=orangepi_zero_plus

language: c

install:
  - curl -LSs https://github.com/openrisc/or1k-gcc/releases/download/or1k-5.4.0-20170218/or1k-linux-musl-5.4.0-20170218.tar.xz | tar xJf -
  - export PATH=$PATH:$PWD/or1k-linux-musl/bin

matrix:
  include:
    - addons:
        apt:
          packages:
            - codespell
      cache:
        directories:
          - uncrustify
      install:
        - |-
          if test -d uncrustify/.git; then
            (cd uncrustify && git fetch -q && git reset -q --hard FETCH_HEAD)
          else
            git clone -q https://github.com/uncrustify/uncrustify
          fi
        - git -C uncrustify rev-parse HEAD
        - mkdir -p uncrustify/build
        - (cd uncrustify/build && cmake -DCMAKE_INSTALL_PREFIX=$PWD
            -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ ..)
        - make -C uncrustify/build -j$(nproc)
        - export PATH=$PATH:$PWD/uncrustify/build
      script:
        - make check-format
        - codespell -i 0 -q 4 $(git ls-files)

script:
  - make ${BOARD}_defconfig
  - make DEBUG=0 V=1 all check
  - make clean
  - make DEBUG=1 V=1 all check
...
