#
# Copyright © 2017-2020 The Crust Firmware Authors.
# SPDX-License-Identifier: BSD-3-Clause OR GPL-2.0-only
#

config PLATFORM
	string
	default "a64"  if PLATFORM_A64
	default "a83t" if PLATFORM_A83T
	default "h6"   if PLATFORM_H6

choice
	prompt "Platform selection"

config PLATFORM_A64
	bool "A64/H5"
	depends on ARCH_OR1K

config PLATFORM_A83T
	bool "A83T"
	depends on ARCH_OR1K

config PLATFORM_H6
	bool "H6"
	depends on ARCH_OR1K

endchoice

if PLATFORM_A64

source "a64/Kconfig"

endif
