#
# Copyright © 2017-2021 The Crust Firmware Authors.
# SPDX-License-Identifier: BSD-3-Clause OR GPL-2.0-only
#

menu "Firmware features"

config PMIC_SHUTDOWN
	bool "Use PMIC for full hardware shutdown"
	depends on PMIC
	default y
	help
		Command the PMIC to turn off all outputs during the
		shutdown procedure. This reduces power usage to almost
		zero, but also stops the firmware. In this state, only a
		power button connected directly to the PMIC can turn the
		system back on.

		If this option is disabled, the shutdown procedure will
		be implemented in software only (similar to the suspend
		procedure), so the firmware can turn the system back on.

		Say Y if your board is powered by a battery, or N if you
		need some other method of turning on the system, such as
		an IR remote control or a GPIO input.

config NEED_OSC24M
	bool
	help
		Select this option to prevent the firmware from turning
		off the external OSC24M crystal.

config SUSPEND_OSC24M
	bool "Disable OSC24M during suspend"
	depends on HAVE_DRAM_SUSPEND && !NEED_OSC24M
	default y
	help
		If this option is enabled, the external OSC24M crystal
		will be turned off while the system is suspended/off.

		If possible, enable this option to reduce power usage.

config NEED_VDD_SYS
	bool
	help
		Select this option to prevent the firmware from gating
		access to the VDD_SYS power domain.

config GATE_VDD_SYS
	bool "Disable access to VDD_SYS during suspend"
	depends on SUSPEND_OSC24M && !NEED_VDD_SYS
	default y
	help
		If this option is enabled, connections from VDD_CPUS to
		VDD_SYS will be gated while the system is suspended/off.
		The VDD_SYS domain includes most of the SoC, including
		the main CCU and GPIO controller.

		If possible, enable this option to reduce power usage.

endmenu

source "debug/Kconfig"
